@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary: #a78bfa;
    --secondary: #2a1454;
    --typing: #ff9f1c;
    --typing: #00ff46;

    --bg1: #06080d;
    --bg2: #0f0715;
    --text: #e5e5e5;
    --border: 2px solid rgba(229, 229, 229, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    font-family: "JetBrains Mono", serif !important;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: .5s;
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(229, 229, 229, 0.2);
    border-radius: 2px;
}

body {
    background: var(--bg1);
    color: var(--text);
}

.input {
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: 4px;
    background: rgba(70, 70, 70, 0.05);
    backdrop-filter: blur(15px);
    border: var(--border);
    color: var(--text);
}

select option {
    background: #000;
}

.input:focus {
    border-color: var(--primary);
}

.button {
    background: var(--primary);
    font-size: 1.1rem;
    padding: .4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.f-button {
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--text);
}

a {
    color: aquamarine;
}

.p {
    color: #b1a7a6;
}